In [1]:
import pandas as pd

df_yoga = pd.read_csv("naver_terms_yoga.csv")
df_stretching = pd.read_csv("naver_terms_stretching.csv")
df_workout = pd.read_csv("naver_terms_workout.csv")

In [2]:
df_yoga["종류"] = "요가"
df_stretching["종류"] = "스트레칭"
df_workout["종류"] = "근력 운동"

In [3]:
df_stretching.head()

,제목,개요,효과,썸네일,난이도,자세분류,부위,종류
0,운동 전후 스트레칭,NaN,NaN,https://dbscthumb-phinf.pstatic.net/0955_000_1...,NaN,NaN,NaN,스트레칭
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,스트레칭
2,아침 스트레칭,NaN,NaN,https://dbscthumb-phinf.pstatic.net/0955_000_1...,NaN,NaN,NaN,스트레칭
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,스트레칭
4,잠자기 전 스트레칭,NaN,NaN,https://dbscthumb-phinf.pstatic.net/0955_000_1...,NaN,NaN,NaN,스트레칭

In [4]:
df_all = pd.concat([df_yoga, df_stretching, df_workout], ignore_index=True)
df_all.tail()

      제목   개요   효과  썸네일  난이도 자세분류   부위     종류
979  NaN  NaN  NaN  NaN  NaN  NaN  NaN  근력 운동
980  NaN  NaN  NaN  NaN  NaN  NaN  NaN  근력 운동
981  NaN  NaN  NaN  NaN  NaN  NaN  NaN  근력 운동
982  NaN  NaN  NaN  NaN  NaN  NaN  NaN  근력 운동
983  NaN  NaN  NaN  NaN  NaN  NaN  NaN  근력 운동

In [5]:
df_all.describe()

,제목,개요,효과,썸네일,난이도,자세분류,부위,종류
count,273,269,136,259,220,101,230,984
unique,253,249,125,238,3,4,32,3
top,한쪽 다리 틀어 비틀기,"앉은 산 자세는 어깨와 팔, 척추를 스트레칭 해주고 깊은 호흡을 유도해주는 동작이다...",- 편안한 호흡을 돕는다. \r\n\t - 요통과 어깨 결림에 도움이 된다.\r\n...,https://dbscthumb-phinf.pstatic.net/0955_000_1...,초급,누운 자세,복부,근력 운동
freq,2,2,2,2,137,39,31,506

In [6]:
# "종류" 컬럼을 제외한 나머지 컬럼 목록 추출
cols_except_kind = df_all.columns.difference(["종류"])

# 그 컬럼들 전부가 NaN인 행을 제거
before = len(df_all)
df_all = df_all[~df_all[cols_except_kind].isna().all(axis=1)]
after = len(df_all)

print(f"드랍 행 수: {before - after}")
print(f"남은 행 수: {after}")

드랍 행 수: 711
남은 행 수: 273

In [7]:
print(df_all.isna().sum())

제목        0
개요        4
효과      137
썸네일      14
난이도      53
자세분류    172
부위       43
종류        0
dtype: int64

In [8]:
before = len(df_all)
df_all = df_all.dropna(subset=["개요", "효과"], how="all")
after = len(df_all)

print(f"제거된 행 수: {before - after}")
print(f"남은 전체 행 수: {after}")

제거된 행 수: 4
남은 전체 행 수: 269

In [9]:
print(df_all.isna().sum())

제목        0
개요        0
효과      133
썸네일      14
난이도      49
자세분류    168
부위       39
종류        0
dtype: int64

In [10]:
df_all.loc[df_all["종류"] == "스트레칭", "난이도"] = "초급"

In [11]:
print(df_all.isna().sum())

제목        0
개요        0
효과      133
썸네일      14
난이도      14
자세분류    168
부위       39
종류        0
dtype: int64

In [15]:
print(f"전체 행 수: {len(df_all)}")

전체 행 수: 269

In [16]:
duplicates_count = df_all.duplicated().sum()
print(f"중복된 행 수 (첫 번째 제외): {duplicates_count}")

중복된 행 수 (첫 번째 제외): 19

In [21]:
df_all = df_all.drop_duplicates(keep='first')

In [22]:
print(f"중복 제거 후 전체 행 수: {len(df_all)}")

중복 제거 후 전체 행 수: 250

In [23]:
print(df_all.isna().sum())

제목        0
개요        0
효과      124
썸네일      12
난이도      12
자세분류    159
부위       36
종류        0
dtype: int64